<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../../libs/jquery-3.3.1.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <!-- TO ADD -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- TO ADD -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- Include CSS elements -->
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-style/v1.0.3/airship.css">
  <!-- Include icons -->
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-icons/v1.0.3/icons.css">
  <!-- Include airship components -->
  <script src="https://libs.cartocdn.com/airship-components/v1.0.3/airship.js"></script>

  <title>Message</title>
</head>

<body>
  <main>
    <!-- TO ADD -->
    <div class="bt-container">
      <button id="button-city">Barcelona</button> <!--TEMPORARY TO SIMULATE EVENT-->
      <div id="tooltip-id" class="tooltip-container">
        <div class="tooltip-info">
          <img class="tooltip-info__img" src="../../img/aviso.png" />
        </div>
        <div class="tooltip-message">
          <p class="tooltip-message__text">You are going to make a change of city to Barcelona</p>
          <button id="button-ok" class="tooltip-message__button">OK</button>
        </div>
      </div>
    </div>
    <!-- TO ADD -->
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" href="styles.css">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='lib/Cesium/Cesium.js') }}"></script> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='lib/Cesium/Widgets/widgets.css') }}"> -->
    </div>
  </main>
</body>

</html>