<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../../libs/jquery-3.3.1.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <!-- TO ADD -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- TO ADD -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- Include CSS elements -->
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-style/v1.0.3/airship.css">
  <!-- Include icons -->
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-icons/v1.0.3/icons.css">
  <!-- Include airship components -->
  <script src="https://libs.cartocdn.com/airship-components/v1.0.3/airship.js"></script>

  <title>Checks</title>
</head>

<body>
  <main>
    <!-- TO ADD -->
    <div>
      <div>AVAILABILITY</div>
      <div class="checkbox">
        <div>
          <input type="checkbox" id="non-available" />
          <label for="non-available">
            <span></span>
            Non available
          </label>
        </div>
        <div>
          <input type="checkbox" id="available" />
          <label for="available">
            <span></span>
            Available
          </label>
        </div>
      </div>
      <div>RATING</div>
      <div class="checkbox">
        <div>
          <input type="checkbox" id="a-checkbox" />
          <label for="a-checkbox">
            <span></span>
            A
          </label>
        </div>
        <div>
          <input type="checkbox" id="bplus-checkbox" />
          <label for="bplus-checkbox">
            <span></span>
            B+
          </label>
        </div>
        <div>
          <input type="checkbox" id="b-checkbox" />
          <label for="b-checkbox">
            <span></span>
            B
          </label>
        </div>
        <div>
          <input type="checkbox" id="c-checkbox" />
          <label for="c-checkbox">
            <span></span>
            C
          </label>
        </div>
      </div>
      <div>RENT/SELL</div>
      <div class="checkbox">
        <div>
          <input type="checkbox" id="sell" />
          <label for="sell">
            <span></span>
            Sell
          </label>
        </div>
        <div>
          <input type="checkbox" id="rent" />
          <label for="rent">
            <span></span>
            Rent
          </label>
        </div>
      </div>
    </div>
    <!-- TO ADD -->
    <!-- <script src="index.js"></script> -->
    <link rel="stylesheet" href="styles.css">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='lib/Cesium/Cesium.js') }}"></script> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='lib/Cesium/Widgets/widgets.css') }}"> -->
    </div>
  </main>
</body>

</html>