label {
  cursor: pointer;
  color: #555;
}

.checkbox {
  display: flex;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(../../img/unchecked.svg) 0px center no-repeat;
}

.checkbox input[type="checkbox"]:checked + label span {
  background: url(../../img/checked.svg) 0px  center no-repeat;
}
